<div class="page-title">
<!--<div class="jumbotron text-center">-->
    <div class="title_left">
        <h4>Bienvenido a Casant Stor</h4>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        </div>
    </div>
    <!--<<div ng-if="!loggedIn">
        <p>Preciona Iniciar para entrar a la Aplicacion</p>
        <a ng-click="goLogin()" class="btn btn-primary">Iniciar</a>
    </div>
    <div ng-if="loggedIn">
        <p>Informacion General</p>
        <a ui-sref="users" class="btn btn-primary">View Useres</a>
    </div>
    div class="row">
        <div class="span8 offset2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Hostname:</td>
                    <td>{{msg.hostname}}</td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td>{{msg.type}}</td>
                </tr>
                <tr>
                    <td>Platform:</td>
                    <td>{{msg.platform}}</td>
                </tr>
                <tr>
                    <td>Arch:</td>
                    <td>{{msg.arch}}</td>
                </tr>
                <tr>
                    <td>Release:</td>
                    <td>{{msg.arch}}</td>
                </tr>
                <tr>
                    <td>Uptime:</td>
                    <td>{{msg.arch}}</td>
                </tr>
                <tr>
                    <td>Load avg.:</td>
                    <td>{{msg.loadaverage}}</td>
                </tr>
                <tr>
                    <td>Total mem:</td>
                    <td>{{msg.totalmem}}</td>
                </tr>
                <tr>
                    <td>Free mem:</td>
                    <td>{{msg.freemem}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>-->
</div>