<div class="modal-header">
    <h4><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i></span> Advertencia</h4>
</div>
<div class="modal-body">
    <p>Estas saliendo de la seccion de Ventas, tenga en cuenta que si existen ventas en proceso, se perderan. ¿Desea Continuar?</p>
</div>
<div class="modal-footer">
    <div class="text-right">
        <div class="text-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="$close()">Si</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="$dismiss()">No</button>
        </div>
    </div>
</div>