<div class="page-header header-sale">
    <div class="row">
        <div class="col-md-6">
            <h4>Punto de Venta: Abarrotes: "El Chino"</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-7">
            <div angucomplete-alt id="ex4" placeholder="Captura codigo de barras, clave del producto, descripcion o nombre" pause="100" selected-object="selectedProduct" local-data="productList" search-fields="bar_code,cv_product,name_prod,desc_prod" title-field="cv_product,name_prod,desc_prod" description-field="bar_code" minlength="1" input-class="form-control form-control-small" match-class="highlight-similar" override-suggestions="true" clear-selected="true" input-changed="loadProducts" auto-match="true">
            </div>
<!--
            <div class="result">
                <div class="" ng-show="selectedProduct">
                    You selected <span class="bold-span">{{selectedProduct.originalObject}}</span>
                </div>
            </div>
-->
        </div>
        <div class="col-md-3">
            <a class="btn btn-info" href="" title="Buscar Productos" ><i class="fa fa-search" aria-hidden="true"></i> Buscar productos</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="" title="Buscar Productos" ng-click="addTabSale()"><i class="fa fa-cart-plus" aria-hidden="true"></i> Nueva venta</a>
        </div>
    </div>
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <uib-tabset id="tabsSales">
            <uib-tab ng-repeat="tab in tabsSale" active="tab.active" ng-click="activTab($index)">
                <uib-tab-heading>
                    {{tab.name}} <i class="fa fa-times" aria-hidden="true" ng-click="removeTab($index, tab.name)"></i>
                </uib-tab-heading>
                <div class="col-md-12">
                    <i class="fa fa-list" aria-hidden="true"> Lista de venta</i>
                    <div class="table-responsive div-table-content">
                        <table class="table table-striped table-hover table-condensed table-sales">
                            <thead>
                                <tr>
                                    <th class="col-delete">Borrar</th>
                                    <th>Codigo de Barras</th>
                                    <th class="col-name">Nombre del producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Importe</th>
                                </tr>
                            </thead>
                            <tbody style="height:250px">
                                <tr ng-repeat="productRow in tab.listProductsToSales">
                                    <td class="col-delete"><a href="" class="btn btn-danger btn-sm" title="Cancelar producto en venta" ng-click="deletProductFromListSales($index)"><i class="fa fa-times"></i></a></td>
                                    <td>{{productRow.bar_code}}</td>
                                    <td>{{productRow.name_prod}}</td>
                                    <td>{{productRow.sale_price.toFixed(2)}}</td>
                                    <td class="col-xs-1">
                                        <input id="{{productRow.bar_code}}" class="form-control quatity" ng-change="changeQuantity(productRow, tab)" quantity ng-model="productRow.quantity">
                                    </td>
                                    <td>{{productRow.amount.toFixed(2)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <a class="btn btn-primary btn-lg" href="" ng-disabled="!tab.hasProducts" ng-click="collect(tab.hasProducts)" title="Cobrar" ><i class="fa fa-check fa-lg" aria-hidden="true"></i> Cobrar (F8)</a>
                    <a class="btn btn-danger btn-lg" href="" title="Cancelar Venta" ><i class="fa fa-times fa-lg" aria-hidden="true"></i> Cancelar Venta (F4)</a>
                </div>
                <div class="col-md-4 col-md-offset-3">
                    <div class="col-md-12">
                        <label class="col-sm-5 control-label">Sub-Total: </label>
                        <div class="col-sm-5 col-md-offset-2">
                            <u> {{tab.subTotal}}</u>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-sm-5 control-label">IVA: </label>
                        <div class="col-sm-5 col-md-offset-2">
                            <u> {{tab.ivaSales}}</u>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-sm-5 control-label">Total: </label>
                        <div class="col-sm-5 col-md-offset-2">
                            <u> {{tab.totalSales}}</u>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<script type="text/ng-template" id="confirmCloseSalesModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Advertencia!</h3>
    </div>
    <div class="modal-body">
        <p>Se perdera la venta de la pestaña actual, ¿Estas seguro que quieres cerrarla?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="confirmDeleteProdSalesModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Advertencia!</h3>
    </div>
    <div class="modal-body">
        <p>Se eliminara el producto de la lista de venta, ¿Deseas eliminarlo de la lista?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="removeProd()">Aceptar</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>
<script type="text/ng-template" id="noStoksModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Advertencia!</h3>
    </div>
    <div class="modal-body">
        <p>El producto esta agotado</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Aceptar</button>
    </div>
</script>
<script type="text/ng-template" id="confirmSaleCredit.html">
    <div class="modal-header">
        <h3 class="modal-title">Advertencia!</h3>
    </div>
    <div class="modal-body">
        <p>La venta se registrara a crediti a nombre de: {{$clientDetail.name}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveSaleAndUpdateStoks()">Aceptar</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>
<script type="text/ng-template" id="confirmCollectModal.html">
    <div class="modal-header">
        <div uib-alert ng-class="'alert-warning'" dismiss-on-timeout="10000" close="closeAlert()" ng-show="payWrong">No se puede saldar la cuenta, el monto con que se paga es menor al adeudo</div>
        <div uib-alert ng-class="'alert-danger'" dismiss-on-timeout="10000" close="closeAlertLimitCredit()" ng-show="limitWrong">Se sobrepaso el limite de credito del cliente por la cantidad de: $ {{overCharg}}</div>
        <h3 class="modal-title">Cobrar</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-3">
                <h4>Monto a Pagar: </h4>
            </div>
            <div class="col-sm-6">
                <h4><span class="label label-success">{{tSale.toFixed(2)}}</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Pagar con: </h4>
            </div>
            <div class="col-sm-6">
                <input id="fieldPayWith" type="text" class="form-control" ng-model="payWith" ng-change="changePay(payWith)" required stoks-number />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Cambio: </h4>
            </div>
            <div class="col-sm-6">
                <h4><span class="label label-success">{{cambio.toFixed(2)}}</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Venta a credito: </h4>
            </div>
            <div class="col-sm-6">
                <input class="credit-input" type="checkbox" ng-model="isCredit" ng-click="typeSale(isCredit)"/>
            </div>
        </div>
        <hr>
        <div class="row" ng-show="isCredit">
            <div class="col-sm-12">
                <div uib-alert ng-class="'alert-warning'" dismiss-on-timeout="10000" close="closeAlertMissClient()" ng-show="clientEmpty">Debes Capturar y seleccionar el clienta al que se le asignara la venta</div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-10">
                    <div angucomplete-alt id="client" placeholder="Captura Nombre del cliente" pause="100" selected-object="selectedClient" local-data="clientList" search-fields="name,ap1,ap2" title-field="name,ap1,ap2" description-field="name" minlength="1" input-class="form-control form-control-small" match-class="highlight-similar" override-suggestions="true" clear-selected="true" input-changed="loadClients" auto-match="true">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <h4>Cliente: </h4>
                </div>
                <div class="col-sm-6">
                    <h4><span class="label label-info">{{clientDetail.name}}</span></h4>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <h4>Adeudo Venta Actual: </h4>
                </div>
                <div class="col-sm-6">
                    <h4><span class="label label-info">{{clientDetail.amountActual.toFixed(2)}}</span></h4>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <h4>Adeudo Total Actual: </h4>
                </div>
                <div class="col-sm-6">
                    <h4><span class="label label-info">{{clientDetail.debit.toFixed(2)}}</span></h4>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <h4>Limite de Credito: </h4>
                </div>
                <div class="col-sm-6">
                    <h4><span class="label label-info">{{clientDetail.limitCredit.toFixed(2)}}</span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="finishSale()"><i class="fa fa-money" aria-hidden="true"></i> Cobrar</button>
        <button class="btn btn-success" type="button" ng-click="finishSale()"><i class="fa fa-money" aria-hidden="true"></i> <i class="fa fa-print" aria-hidden="true"></i> Cobrar e Imprimir Tiket</button>
        <button class="btn btn-warning" type="button" ng-click="cancelCobro()">Cancelar</button>
    </div>
</script>