.edit-expiratio {
    width: auto;
}

.edit-btns {
    width: auto;
}

.highlight { 
    transition:all linear 0.5s;
    border: 2px red solid;
}

.highlight:focus {
    transition:all linear 0.5s;
    border: 2px red solid !important;
}

.header-sale{
    margin-top: 5px;
    margin-bottom: 5px;
}