/*.edit-expiratio {
    width: auto;
}

.edit-btns {
    width: auto;
}

.highlight { 
    transition:all linear 0.5s;
    border: 2px red solid;
}

.highlight:focus {
    transition:all linear 0.5s;
    border: 2px red solid !important;
}

.header-sale{
    margin-top: 5px;
    margin-bottom: 5px;
}

.highlight-similar {
	color: #ff0000;
}

.table-sales {
    table-layout:fixed;
}

.div-table-content {
    height:360px;
    overflow-y:auto;
}

.ng-table th {
    text-align: left;
}

.col-delete {
    width: 60px !important;
}

.col-name {
    width: 500px !important;
}

.modal-md  .modal-dialog{
    width: 700px;
    height: 600px;
}

.credit-input{
    margin: 10px !important;
}

body {
    font-size: 12px !important;
    line-height: 1 !important;
}*/

.label-codes {
    display: inline-block;
    margin-right: 5px;
	margin-bottom: 2px
}

.row-sale-report {
    text-align: center;
}

.nestedTblGutter {
    padding-left: 40px;
}

.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-header-warning {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.loginClass {
    margin-left: 0px !important;
    background: #F7F7F7 !important;
}

.loginClassOff {
    margin-left: 0px;
}

.loignMain{
    padding-top: 100px;
}