.edit-expiratio {
    width: auto;
}

.edit-btns {
    width: auto;
}

.highlight { 
    transition:all linear 0.5s;
    border: 2px red solid;
}

.highlight:focus {
    transition:all linear 0.5s;
    border: 2px red solid !important;
}

.header-sale{
    margin-top: 5px;
    margin-bottom: 5px;
}

.highlight-similar {
	color: #ff0000;
}

.table-sales {
    table-layout:fixed;
}

.div-table-content {
    height:300px;
    overflow-y:auto;
}

.ng-table th {
    text-align: left;
}

.col-delete {
    width: 60px !important;
}

.col-name {
    width: 500px !important;
}

.modal-md  .modal-dialog{
    width: 700px;
    height: 600px;
}

.credit-input{
    margin: 10px !important;
}