<div class="page-header">
    <h1>
        Users
        <a ui-sref="create" class="btn btn-default">
            <i class="fa fa-user-plus"></i>
            New User
        </a>
    </h1>
</div>
<div class="jumbotron text-center" ng-show="processing">
    <i class="fa fa-repeat spinner"></i>
    <p>Loading Users.......</p>
</div>
<div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11">
        <p>Filtro:
            <input class="form-control" type="text" ng-model="filter.$" />
        </p>
        <table ng-table="tableParams" class="table">
            <tr ng-repeat="user in $data">
                <td data-title="'Nombre'" sortable="'id'">
                    {{user.name}}
                </td>
                <td data-title="'Nombre del Usuario'" sortable="'name'">
                    {{user.userName}}
                </td>
                <td data-title="'Tipo de Usuario'" sortable="'tipo'">
                    {{user.userType.description}}
                </td>
                <td>
                    <a ui-sref="edituser({userId: user._id})" title="Actualizar Usuario" class="btn btn-primary" ng-disabled="{{user.userName == userNow.userName}}"><i class="fa fa-refresh"></i></a>
                    <a href="#" ng-click="deleteUser(user._id)" title="Eliminar Usuario" class="btn btn-danger" ng-disabled="{{user.userName == userNow.userName}}"><i class="fa fa-user-times"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>
